<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
    
      <a class="navbar-brand fs-2 fw-bold" href="#"><span class="text-danger">Shop</span>EE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav ms-auto mb-2 mb-xl-0 fs-5 ms-auto p-2 text-center">
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" routerLink="/add/product">Add Product</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" routerLink="/products/inventory">Inventory</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" routerLink="/order/details">Orders</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" routerLink="/product/cart">
              <i class="bi bi-cart">
                <span class="badge" *ngIf="cartCount > 0">{{cartCount}}</span>
              </i>
            </a>
          </li>
         
        </ul>
        
      </div>
    
</div>
  </nav>
</body>
</html>

