<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center inner-row">
            <div class="col-md-5">
                <div class="form-box p-5">
                    <div class="form-title">
                        <h2 class="fw-bold mb-3">
                            Edit Product
                        </h2>
                    </div>
                    <form [formGroup] = "editProductForm" (ngSubmit)="onFormSubmit()">
                        <div class="form-floating mb-3">
                        <input type="text" formControlName="title" [(ngModel)]="product.name" class="form-control form-control-sm"  placeholder="Enter Product Title" id="floatingTitle">
                        <label for="floatingTitle">Title</label>
                        <small style="color: red;"
                            *ngIf="editProductForm.controls['title'].touched && editProductForm.controls['title'].invalid">
                            <span *ngIf="editProductForm.controls['title'].errors['required']">Title is required</span>
                        </small>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea formControlName="description" [(ngModel)]="product.description" class="form-control form-control-sm" rows="3"  placeholder="Enter Product Description" id="floatingDescription"></textarea>
                            <label for="floatingDescription">Description</label>
                            <small style="color: red;"
                                *ngIf="editProductForm.controls['description'].touched && editProductForm.controls['description'].invalid">
                                <span *ngIf="editProductForm.controls['description'].errors['required']">Description is required</span>
                            </small>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" formControlName="price" [(ngModel)]="product.price" class="form-control form-control-sm"  placeholder="Enter Product Price" id="floatingPrice">
                            <label for="floatingPrice">Price</label>
                            <small style="color: red;"
                            *ngIf="editProductForm.controls['price'].touched && editProductForm.controls['price'].invalid">
                            <span *ngIf="editProductForm.controls['price'].errors['required']">Price is required</span>
                            </small>
                        </div>
                        <div class="form-floating mb-3">
                            <ng-select class="custom" formControlName="category" placeholder="Select Categories" id="floatingCategory" [multiple]="true" [(ngModel)]="selectedValues" (change)="selectedElements($event)">
                                <ng-option [ngStyle]="{'padding':'50px 0px'}" [value]="c" *ngFor="let c of categories">{{c.name}}</ng-option>
                            <label for="floatingCategory">Category</label>
                            </ng-select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control form-control-sm" placeholder="Enter Product Image" id="floatingImage" (change)="onFileSelected($event)">
                            <!-- <small style="color: red;"
                                *ngIf="addProductForm.controls['imageUrl'].touched && addProductForm.controls['imageUrl'].invalid">
                                <span *ngIf="addProductForm.controls['imageUrl'].errors['required']">Image is required</span>
                            </small> -->
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" formControlName="unitsInStock" [(ngModel)]="product.currentStock" class="form-control form-control-sm"  placeholder="Enter units in stock" id="floatingInStock">
                            <label for="floatingInStock">Units In Stock</label>
                            <small style="color: red;"
                            *ngIf="editProductForm.controls['unitsInStock'].touched && editProductForm.controls['unitsInStock'].invalid">
                            <span *ngIf="editProductForm.controls['unitsInStock'].errors['required']">Units in Stock are required</span>
                            </small>
                        </div>
                        <div class="mt-3">
                        <input type="submit" class="btn btn-success text-white" value="Edit" [disabled] = "!editProductForm.valid">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
