<div *ngIf="orders.length > 0">
<section class="h-100 gradient-custom" *ngFor="let order of orders">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Thanks for your Order!</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
              </div>
              <div class="card shadow-0 border mb-4" *ngFor="let product of order.productDto">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{product.name}}</p>
                    </div>
                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small" *ngFor="let c of product.category">{{c?.name}}&nbsp;&nbsp;</p>
                    </div>
                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: {{product.quantity}}</p>
                    </div>
                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{product.price | currency: "INR"}}</p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> {{order.total_amt | currency: "INR"}}</p>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Order Number : {{order.orderNo}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total Quantity</span> {{order.totalQuantity}}</p>
              </div>
  
              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Order Date : {{order.orderDate | date:'short'}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
              </div>
            </div>
            <div class="card-footer border-0 px-4 py-5"
              style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2">{{order.total_amt | currency: "INR"}}</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container mt-5 alert alert-warning mx-auto p-4 col-8" *ngIf="orders.length == 0">
    No Orders are placed as of now.
</div>